<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Atlas | Home</title>
</head>
<body class="bg-orange-500">
    <main class="h-screen flex items-center justify-center flex-col m-5 -mt-10">
        <h1 class="text-white text-9xl">ATLAS</h1>
        <h2 class="text-white text-4xl">A Game of Words</h2>
        <div class="flex items-center justify-center">
            <button class="bg-green-500 border rounded-lg px-16 py-4 shadow-md text-white text-3xl mt-8 hover:bg-green-600"
                hx-get="/lobby"
                hx-push-url="true"
                hx-trigger="click"
                hx-target="body">Play
            </button>
        </div>
        <button class="bg-green-500 border rounded-lg px-16 py-2 shadow-md text-white text-xl mt-8 hover:bg-green-600"
            hx-get="/instructions"
            hx-push-url="true"
            hx-trigger="click"
            hx-target="body">How To
    </button>
    </main>
</body>
</html>