<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Atlas | Lobby</title>
</head>
<body>
    <div class="bg-orange-500" style="display:flex; justify-content: center; margin: 5px">
        <main id="main" class="h-screen flex-col m-5 max-w-4xl w-full">
            <div class="flex justify-between">
                <h2 class="text-white text-3xl mb-2">Matches</h2>
                <button class="bg-blue-500 border rounded-lg px-4 py-1 shadow-md text-white text-m hover:bg-blue-600 ml-4"
                    hx-get="/lobbyData"
                    hx-trigger="click"
                    hx-target="#lobbyData">&#8635;
                </button>
            </div>
            <div id="lobbyData" class="rounded-lg border-white border-4 border-solid h-72 overflow-y-scroll mt-2"
                hx-target="#lobbyData"
                hx-get="/lobbyData"
                hx-target="#lobbyData"
                hx-trigger="load">
            </div>
            <div class="flex items-center justify-between">
                <button class="bg-green-500 border rounded-lg px-6 py-4 shadow-md text-white text-3xl mt-8 hover:bg-green-600"
                    hx-get="/createMatch"
                    hx-push-url="true"
                    hx-trigger="click"
                    hx-target="body">Create
                </button>
                <button class="bg-green-500 border rounded-lg px-6 py-4 shadow-md text-white text-3xl mt-8 hover:bg-green-600"
                    hx-get="/"
                    hx-push-url="true"
                    hx-trigger="click"
                    hx-target="body">Home
                </button>
            </div>
        </main>
    </div>
</body>
</html>